# Use the default library for everything
pandas
pyarrow
scikit-learn
fastapi
uvicorn
faiss-cpu
tqdm

# Use the specific CPU-only index ONLY for torch
--extra-index-url https://download.pytorch.org/whl/cpu
torch
